
        @import url('//fonts.googleapis.com/css?family=Oswald:200,300');
        
        /* define a style for Title, Headings and Normal texts */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
          color: black;
          font-family:'Oswald',sans-serif;
          margin: 0;
          font-weight: normal;
        }
        /* title style */
        .title {
          font-size: 60px;
          color: rgb(73, 187, 204);
        }
        .heading1 {
          font-size: 24px;
        }
        .editable-style.full-width {
            width: 100%;
        }
        .editable-style.right {
            left: initial;
            right: 0px;
        }
        .grey-text .normal{
            color: grey;
        }
        .small-text .normal{
            color: grey;
            font-size: 10px;
        }
        .product-details .heading1 {
          color: rgb(73, 187, 204);
        }
        .product-details .heading3 {
          color: white;
          background-color: rgb(73, 187, 204);
          float: right;
          padding: 2px 25px;
        }
        .in-front {
            z-index: 1000;
        }
        .link-menu .normal{
            padding-top: 5px;
        }
        /* animated colors widget
            https://github.com/silexlabs/Silex/issues/138
        */
        .link-menu .page-link-active {
            background-color: rgb(73, 187, 204);
            /* Firefox */
            -moz-transition: background-color 0.5s ease-in;
            /* WebKit */
            -webkit-transition: background-color 0.5s ease-in;
            /* Opera */
            -o-transition: background-color 0.5s ease-in;
            /* Standard */
            transition: background-color 0.5s ease-in;
        
        }
        .link-menu .page-link-active .normal {
            color: #FFFFFF !important;
            /* Firefox */
            -moz-transition: color 0.5s ease-in;
            /* WebKit */
            -webkit-transition: color 0.5s ease-in;
            /* Opera */
            -o-transition: color 0.5s ease-in;
            /* Standard */
            transition: color 0.5s ease-in;
        }
    
        .silex-id-1436036524732-32 {
            cursor: auto; 
            background-image: url('../assets/bg-tile3.png%5C'); 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1436036521514-0 {
            width: 100px; 
            top: 0px; 
            background-color: rgb(180, 229, 232); 
            min-height: 10px; 
        }
        .silex-id-1436036524632-31 {
            top: 0px; 
            left: 41px; 
            width: 980px; 
            background-color: transparent; 
            min-height: 2465px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1436036524632-31 {
            top: 70px; 
            left: 12px; 
            width: 443px; 
            min-height: 1116px; 
        }
        }.silex-id-1436036524129-26 {
            width: 980px; 
            top: 386px; 
            left: 1px; 
            background-color: transparent; 
            min-height: 842px; 
        }
        .silex-id-1436036523626-21 {
            width: 973px; 
            top: 373px; 
            left: 1px; 
            min-height: 794px; 
        }
        .silex-id-1436036523928-24 {
            width: 100px; 
            top: 1px; 
            left: -3px; 
            min-height: 26px; 
        }
        .silex-id-1482622969971-0 {
            width: 980px; 
            top: 350px; 
            left: 0px; 
            min-height: 24px; 
        }
        .silex-id-1482626268995-9 {
            min-height: 249px; 
            width: 972px; 
            top: 17px; 
            left: 2px; 
        }
        .silex-id-1436036522923-14 {
            width: 100px; 
            top: 1864px; 
            background-color: transparent; 
            min-height: 528px; 
        }
        .silex-id-1436036521816-3 {
            width: 100px; 
            top: 300px; 
            left: 1px; 
            background-color: transparent; 
            min-height: 528px; 
        }
        .silex-id-1436036521716-2 {
            width: 389px; 
            top: 13px; 
            left: 538px; 
            min-height: 325px; 
        }
        .silex-id-1436036521615-1 {
            width: 400px; 
            top: 5px; 
            left: 110px; 
            background-color: transparent; 
            min-height: 396px; 
        }
        .silex-id-1436036522320-8 {
            width: 100px; 
            top: 2405px; 
            min-height: 100px; 
        }
        .silex-id-1436036522220-7 {
            width: 238px; 
            top: 46px; 
            min-height: 40px; 
        }
        .silex-id-1436036524230-27 {
            width: 826px; 
            top: 185px; 
            left: 0px; 
            min-height: 188px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1436036524230-27 {
            top: 137px; 
            left: 11px; 
            width: 421px; 
            min-height: 372px; 
        }
        }.silex-id-1436036522119-6 {
            width: 383px; 
            top: 81px; 
            left: 571px; 
            background-color: transparent; 
            min-height: 74px; 
        }
        .silex-id-1436036522018-5 {
            width: 90px; 
            top: 22px; 
            left: 26px; 
            min-height: 33px; 
        }
        .silex-id-1482623962815-1 {
            width: 138px; 
            top: 22px; 
            left: 122px; 
            min-height: 32px; 
        }
        .silex-id-1436036521917-4 {
            width: 90px; 
            top: 22px; 
            left: 266px; 
            min-height: 33px; 
        }
        .silex-id-1482624414130-4 {
            width: 826px; 
            top: 200px; 
            left: 126px; 
            min-height: 188px; 
        }
        .silex-id-1482624414117-3 {
            width: 980px; 
            top: 2899px; 
            left: 4px; 
            min-height: 24px; 
        }
        .silex-id-1436036523526-20 {
            width: 100px; 
            top: 1213px; 
            left: 3px; 
            background-color: transparent; 
            min-height: 528px; 
        }
        .silex-id-1436036523325-18 {
            width: 100px; 
            top: 236px; 
            left: 0px; 
            min-height: 26px; 
        }
        .silex-id-1482624475058-5 {
            width: 973px; 
            top: 400px; 
            left: 133px; 
            min-height: 794px; 
        }
        .silex-id-1482626240352-8 {
            min-height: 100px; 
            top: 277px; 
            left: NaNpx; 
        }
        .silex-id-1482626240349-7 {
            min-height: 100px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1482624414050-2 {
            width: 100px; 
            top: 138px; 
            left: 134px; 
            min-height: 26px; 
        }
    